import React from 'react';

interface ButtonProps {
  onClick: () => void;
}

const Button: React.FC<ButtonProps> = ({ onClick }) => {
  const handleClick = () => {
    // Acciones a realizar cuando se hace clic en el botón
    onClick();
  };

  return (
    <button onClick={handleClick}>Haz clic</button>
  );
};

export default Button;
